{% if current_user.is_authenticated %}
  <h3>My {{ autogrid360_navigation_label }}</h3>
  <ul>
    <li><a href="{{ url_for('autogrid360_listings.mine') }}">My Listings</a></li>
    <li><a href="{{ url_for('autogrid360_listings.create') }}">Create Listing</a></li>
    <li><a href="{{ url_for('autogrid360_account.profile') }}">Seller Profile</a></li>
  </ul>
{% endif %}

<h3>{{ autogrid360_navigation_label }}</h3>
<ul>
  <li><a href="{{ url_for('autogrid360.index') }}">Inventory</a></li>
  <li><a href="{{ url_for('autogrid360.search') }}">Advanced Search</a></li>
  <li><a href="{{ url_for('autogrid360_tools.payment_calculator') }}">Payment Calculator</a></li>
</ul>

{% if current_user.is_authenticated and current_user.is_admin %}
  {% include "autogrid360/includes/admin_nav.html" %}
{% endif %}
